<div class="main-watch-container">
  <div *ngIf="editingStarted">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="City" aria-label="City" [matAutocomplete]="auto" [formControl]="cityCtrl" [(ngModel)]="cityName">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let city of filteredCities | async" [value]="city.city_name">
          <span>{{city.city_name}}</span> |
          <small>Time Zone: {{city.time_zone}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="action-container">
      <button mat-button (click)="doneButtonAction()" color="primary">Done</button>
      <button mat-button (click)="cancelButtonAction()">Cancel</button>
    </div>
  </div>
  <div *ngIf="!editingStarted" class="summary-container">
    <div class="summary-text-container">
      <div>{{selectedCity && selectedCity.city_name || "Not Known" }}</div>
      <div>{{selectedCity && selectedCity.time_zone || "Not Known"}}</div>
      <div>{{currentTime}}</div>
    </div>
    <div class="edit-button-container">
        <button mat-button (click)="editButtonAction()">Edit</button>
        <button mat-button (click)="removeButtonAction()" color="accent">Remove</button>
    </div>
  </div>
</div>  
